* {

    font-family: 'Prata', serif;
    font-size: 15px;
}

body {
    background-image: url(img/backgroundpic.jpg);
    background-size: contain;
    background-position: center;
}

#main-body {

    min-height: 850px;
    color: black;
    
}

.card-panel {

    background-color: rgb(240, 240, 240);
}

#randomButton {

    margin: 25px;
    width: 175px;
    border-radius: 25px;
    background-color: orange;
}

img {

    height: 300px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
}


iframe{

    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
}

img:hover {

    zoom: 1.5;
}

iframe:hover {

    zoom: 1.5;
}

i {
    
   margin-top: 0px;
}

#dropDownBar {

    background-color: lightskyblue;
    border-radius: 15px;
    width: 100px;
}

#userInputBox {

    border-radius: 20px;
    margin: 0px;
    width: 500px;
    margin-top: 30px;
   
}

#searchButton {
    
    border-radius: 20px;
    background-color: lightskyblue;
}

#randomButton {

    margin-top: 50px;
}

p{
    font-size-adjust: initial;
  letter-spacing: 1px;
  text-align: start;
  font-size: 25px;
}

li{
    column-gap: 0vmin;
    font-size: 16px;
    letter-spacing: 1px;
   text-align: left;
   font-size: 25px;
}

#mainContent {
    
    background-color: rgb(236, 236, 236);
}


#label {

    float: left;
    margin-left: 2px;
}



 