body {
    background-image: url(img/backgroundpic.jpg);
    background-size: cover;
    background-position: center;
}

#main-body {
    height: 790px;
    color: grey;
}

#randomButton {

    margin: 10px;
    width: 153px;
}

img {

    height: 300px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
}


iframe{

    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
}

img:hover {

    zoom: 1.5;
}

iframe:hover {

    zoom: 1.5;
}

i {
    
   margin-top: 15px;
}

#dropDownBar {

    background-color: lightskyblue;
    border-radius: 15px;
}

#userInputBox {

    border-radius: 20px;
   
}

#searchButton {
    
    border-radius: 25px;
    background-color: lightskyblue;
}

#randomButton {

    border-radius: 25px;
    background-color: lightskyblue;
}











 